.changePic{
    background-color: #fff;
    border-radius: 20px;
}
.changePic div{
    padding: 15px 18px;
}

.upload-btn{
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 15px;
}